.titlebar{
    display: grid;
    grid-template-columns: 80% auto;
    cursor: pointer;

    .left{
        text-align: right;
        font-size: 25px;
        font-weight: bold;
        .name{
            color: #3987FD;
            
        }
        .post{
            color: grey;
        }
    }

    .right{
        img{
            width: 80px;
            height: 80px;
            box-shadow: 0 3px 10px rgb(187, 187, 187);
            border-radius: 100px;
            transition: 0.25s;

        }
        img:hover{
            transform: scale(1.05);
        }
    }
}